{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
<br>
<br>
<div style = "text-align:center;"> <a href="{{url_for('ap_home')}}" class="btn btn-large btn-primary">RCA/EDA AP Status Tracking </a> </h2> 
<hr>
<div style = "text-align:center;"> <a href="{{url_for('customer_home')}}" class="btn btn-large btn-primary">JIRA Customer RCA/EDA Status Tracking </a> </h2> 
<hr>
<div style = "text-align:center;"> <a href="{{url_for('rca_home')}}" class="btn btn-large btn-primary">Internal Formal RCA/EDA Status Tracking</a> </h2> 
<hr>
<div style = "text-align:center;"> <a href="{{url_for('longcycletimerca_home')}}" class="btn btn-large btn-primary">Internal LongCycleTime RCA Status Tracking</a> </h2> 

{% endblock %}

