{% extends "jiralayout.html" %}
{% block body %}
<div id="main" class="container">
<br>
<br>

<div style = "text-align:center;"> <a href="{{url_for('index_by_assignee')}}" class="btn btn-large btn-primary">RCA/EDA MNRCA JIRA Task Assigned To Me </a> </h2> 
<hr>
<div style = "text-align:center;"> <a href="{{url_for('index_by_reporter')}}" class="btn btn-large btn-primary"> RCA/EDA MNRCA JIRA Task Reported By Me</a> </h2> 

<!---
<div style = "text-align:center;"> <a href="{{url_for('ap_home')}}" class="btn btn-large btn-primary"> CREATE And ASSIGN RCA/EDA MNRCA JIRA Task </a> </h2> 
<hr>
<div style = "text-align:center;"> <a href="{{url_for('longcycletimerca_home')}}" class="btn btn-large btn-primary">IMPORT RCA/EDA Action Tasks From SharePoint Excel To MNRCA RCA/EDA JIRA Tracker</a> </h2> 
--->
{% endblock %}

