<!doctype html>
<title>MNRCA JIRA RCA/EDA Efficient Promotion WebApp</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="/static/css/select2.min.css" rel="stylesheet" />


<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script src="/static/js/select2.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>


<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" style="display: inline-block;color:;">JIRA RCA/EDA WebApp</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
                        <!---
						<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>	
						<li><a href="{{ url_for('syslog_view') }}">Syslog</a></li>	
						--->
                        <li><a href="/home">MNRCA Home</a></li>
						<li><a href="/jiranew">Create 5WhyRCA Task</a></li>
                        <li><a href="/InChargeGroupIndex">InChargeGroup</a></li>
						{% if current_user.is_authenticated %}
							<li><a href="{{ url_for('logout') }}">Logout</a></li>
						{% endif %}
						{% if not current_user.is_authenticated%}
							<li><a href="{{ url_for('login') }}">Login</a></li>
						{% endif %}
						
					</ul>
				</div>
				<!--/.nav-collapse -->
				<a class="brand" style="display: inline-block;text-align: right;color:yellow;">{{user}}</a> 
			</div>
		</div>
</div>

<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	<hr>
	<th>     For TMT Internal Task,click the link: <a href="http://n-5cg5010gn7.nsn-intra.net:2233/"  target="_blank">TMT Internal Task </a>.
	<hr>
<!---
	<th>     For Long Cycle Time RCA,click the link: <a href="http://n-5cg5010gn7.nsn-intra.net:4000/" target="_blank"> Long Cycle Time RCA </a>. 
	<hr>--->
	<footer id="footer">
				<p>&copy; Arch Squad 2018</p>

				<p>Made with love by <a href="https://nokia.sharepoint.com/sites/nokiacentral/default.aspx" target="_blank">Enqing Lei</a>. 
				Contact him at <a href="mailto:enqing.lei@nokia-sbell.com">enqing.lei@nokia-sbell.com</a>.</p>
				<p>Powered by Python,MySQL,Flask,SQLAlchemy and Twitter Bootstrap</p>		
	</footer>
</div>